html,
body {
    height: 100%;
    /* overflow-y: hidden; */
    display: flex;
    flex-direction: column;
}

body>* {
    flex-shrink: 0;
}


/* canvas {

} */

#cy-similarity,
#cy-prereqs {
    width: 100%;
    /* flexbox 4: 1
    height:95 temp soln until bottom navbar?
    */
    height: 95%;
    display: block;
    position: fixed;
}


/* edge {

} */

li.external-link {
    list-style-type: circle;
}

ul.ordering li {
    margin-top: 5px;
    display: flex;
}

ul.ordering li span {
    width: 24px;
    height: 24px;
    background: red;
    display: inline-block;
    margin-right: 6px;
}

details summary.ads::-webkit-details-marker {
    color: #e6194b
}

details summary.comparch::-webkit-details-marker {
    color: #f58231
}

details summary.fm::-webkit-details-marker {
    color: #ffe119
}

details summary.sec::-webkit-details-marker {
    color: #3cb44b
}

details summary.ai::-webkit-details-marker {
    color: #4363d8
}

details summary.cs::-webkit-details-marker {
    color: #911eb4
}

details summary.graphics::-webkit-details-marker {
    color: #a9a9a9
}

details summary.db::-webkit-details-marker {
    color: #000000
}

details summary.conc::-webkit-details-marker {
    color: #9a6324
}

/*.sidebar {
	position: relative;
}*/

/* Autocomplete CSS */
/* As per: https://www.w3schools.com/howto/howto_js_autocomplete.asp */
* {
  box-sizing: border-box;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* .fas {
    pointer-events: initial
} */
